

.App{
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

}
footer{
  flex:1;
  position: fixed; 
  bottom: 0px; 
}
table.footer{
  padding-left: 50%;
  text-align: center;
  width: 100%;
  font-size: 10px;
  height: 100%;
  border-collapse:separate;
  position: fixed;
  z-index:1000;
  right : 0px;
  z-index:1000;
  
}
.flexParent{
  display:flex;   
  flex-direction: column;
  
}

div.outsideDiv{
  padding-left: 20%;
  font-family: 'Helvetica Neue', sans-serif;
  height: 100%;
  width: 80%;
  position:relative;
  z-index:1001;
  
  flex: 1;
  
}

.background{
  background-color: rgb(197, 45, 45);
  width: 100%;
  position: fixed;
  height: 100%;
  flex-direction: column;
}

div#wavecontainor{
  background-image: url("./Assets/wave.svg");
  width: 600vw;
  left: -10vW;
  height: 50vh;
  display: block;
  bottom: 0px;
  bottom: -1vh;
  position: absolute;
  
}

.hide{
  display: none;

}

table.ProgressBar{
  padding-left: 20%;
  text-align: center;
  width: 80%;
  height: 10px;
  border-collapse:separate;
}

td.currentstep{
  width: auto;
  background-color: rgb(41, 168, 41);
  border-radius:9px;
  -moz-border-radius:6px;
  height: 100%; 
}

td.notcurrentstep{
  width: auto;
  border-radius:9px;
  -moz-border-radius:6px;
  height: 100%;
  background-color: grey;
  

}


image{
  height: 20%;
  display: block; 
}

.main{ 
  margin-top: 2px;
  margin-bottom: 2px;
  border-color: black;
  text-align: center;
 
}

div.hide{
  display: none;

}


@media ( max-width: 400px ){  
  .flexParent{ 
      flex-direction: column;} 
}

.list {
  width: 25px;
}

.vjueHeader{
  margin-left: 0px;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}



.divider{
  padding-bottom: 20px;
}
.searchbox{
  text-align: center;
  

}
.heroPic{ display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: auto;
  }

.searchresult{
  text-align: center;
}

p{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
.next{
  margin-left: 20px;
  float: left;
  font-weight: bold;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.white {
  color: #ffffff;
}


#intro input, #intro select, #intro textarea {
  color: #ffffff;
}

#intro a {
  color: #1b0101;
}

  #intro a:hover {
    border-bottom-color: transparent;
    color: #18bfef !important;
  }

#intro strong, #intro b {
  color: #ffffff;
}


#intro h1 {
  font-size: 6rem;
  line-height: 1,4;
}

#intro p {
  font-size: 1.25rem;
  font-style: italic;
  margin-top: -0.25rem;
  text-align: center;
  width: 400px;
  margin-left: 55px;
}

#intro img {
  
  max-width: 120px;
  max-height: 120px;
  margin-bottom: -68px;
  margin-left: 210px;

}